<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Unreal2k4UCCAdvanced.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Unreal2k4UCCAdvanced.Properties.Settings>
            <setting name="settingLastProjectFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="settingLastIni" serializeAs="String">
                <value />
            </setting>
            <setting name="settingLastSystemFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="settingLastInstall" serializeAs="String">
                <value />
            </setting>
            <setting name="settingLastDevEnv" serializeAs="String">
                <value />
            </setting>
            <setting name="settingLastWindowed" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="settingLastXRes" serializeAs="String">
                <value />
            </setting>
            <setting name="settingLastYRes" serializeAs="String">
                <value />
            </setting>
            <setting name="settingLaunchOptions" serializeAs="String">
                <value>False</value>
            </setting>
        </Unreal2k4UCCAdvanced.Properties.Settings>
    </userSettings>
</configuration>